// -------------------------------------------------------------------
// Author
// -------------------------------------------------------------------

html,
body {
  margin: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p {

}

.module {
  > *:first-child { margin-top: 0; }
  > *:last-child { margin-bottom: 0; }
}

hr {
  text-align: center;
  margin: 25px 20%;
}

// Top Nav Bar ------------

.nav-box {
  margin: 0 2em;
  text-align: center;
} 

.nav-list {
  padding: 0;
  margin-left: -20px; 
}
    
.nav {
  display: inline-block;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-size: 20px;
  font-weight: 400;
  padding: 12px;
  &:hover {
    color: rgb(255, 255, 255);
  }
}

// Desktop View

@include media (45em) {
  .nav-link {
    font-size: 25px;
  }
}
 
// Banner ------------

.site-header {
}

.logo {
  position: relative;
  left: 50%;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: -48%;
  font-size: 2em;
  width: 95%;
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.copyright {
  color: rgba(226, 226, 226, .2);
  text-align: center;
}

// Content BOX ------------

.content-box {
  max-width: 950px;
  margin: 0 auto;
}

// Content about ------------

.about {
  padding: 15px 0 45px 0;
  background-color: #222;
  text-align: center;
  color: rgb(219, 219, 219);
  @include media (55em) {
    border-radius: 50px;
  }
}

.about-title {
  font-size: 30px;
  font-weight: 600;
}

.about-text {
  margin: 0 3em;
  font-size: 18px;
}

.brands {
  padding: 0;
  list-style: none;
}

.brand {
  width: 10%;
  margin: 0 auto;
  display: inline;
  padding: 0 5px;
}

.wotc {
  margin-bottom: -15px;
}

.wh {
  margin-bottom: 10px;
}
// Content VISIT ------------

.locations {
  padding: 20px 0 40px 0;
  text-align: center;
  color: rgb(219, 219, 219);
}

.location-text{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
}

.location {
  list-style: none;
  margin-bottom: 10px;
  
}

.city {
  font-size: 30px;
  color: rgb(219, 219, 219); 
  text-decoration: none;
  padding: 4.5px 10px;
}

.city:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(219, 219, 219, 0.4);
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;

}

// Calander Tab  ------------

.tabs {
  margin: 0 auto;
  text-align: center;
  max-width: 370px;
}


.tab-headers {
  margin: 0;
  padding: 0;
  color: rgb(233, 233, 233);
}

.tab-header {
  list-style-type: none;
  display: inline-block;
  font-size: 16.4px;
  background-color: #888;
  margin: 0;
  padding: 5px 15px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #666;
  }
  &.active {
    color: #fff;
    background-color: #666;
  }
}

.tab-content {
  display: none; // Uses Js for hide/show
  font-weight: bold;
  background-color: #c9c9c9;
  padding: 30px;
  border-radius: 0 0 10px 10px;

  &.active {
    display: block;
  }
}

// Contact ------------












