// -------------------------------------------------------------------
// Author
// -------------------------------------------------------------------

html,
body {
  margin: 0;
  background-color: rgb(12, 12, 12);
}

.module {
  > *:first-child { margin-top: 0; }
  > *:last-child { margin-bottom: 0; }
}

.ul	{
  color: red	
}

.index {
  margin: 0 5em;
}

#post {
  text-align: center;
}

#post li {
  list-style: none;
}

#post .list .list-item a {
  text-decoration: none;
  display: block;
  padding: 1.5em;
  border-radius: 100px;
}


#post h2 {
  margin: 0;
  text-decoration: none;
  color: rgb(254, 255, 234);
}

#post p {
  color: rgba(254, 255, 234, .6);
  margin-top: 0;
  
}

#post .list .list-item a:hover {
  background-color: rgba(254, 255, 234, .1);
  p:hover {
    color: red;
    display: block;
  }
}

.site-header {
}

.site-header .container h1 img {
  position: relative;
  left: 50%;
  margin-left: -2.5em;
  font-size: 2em;
  width: 5em;
  text-decoration: none;
  color: rgb(56, 56, 56);
}

@include media (30em) {
  .site-header .container h1 img {
    font-size: 3em;
  }
}



.site-footer .copyright {
  color: rgba(226, 226, 226, .2);
  text-align: center;


}